@font-face {
    font-family: Poppins;
    font-style: normal;
    src: url(/assets/fonts/Poppins-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    src: url(/assets/fonts/Poppins-ExtraLightItalic.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    src: url(/assets/fonts/Poppins-Light.ttf); 
    font-weight: 300;
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    src: url(/assets/fonts/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    src: url(/assets/fonts/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    src: url(/assets/fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    src: url(/assets/fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    src: url(/assets/fonts/Poppins-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    src: url(/assets/fonts/Poppins-Black.ttf);
    font-weight: 900;
}