body{
    font-family:'Poppins' !important;
    margin: 0;
    padding: 0;
    font-weight: 500 !important;
   
    button{
        cursor: pointer;
    }
}

header{
    padding: 90px 150px;
    background-image: url(/onn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid  #22C55E;;
    h1{
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: -0.02em;
    }
    p{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }
    button{
        background: #DCFCE7;
        box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
        border-radius: 36px;
        padding: 2px 8px;
        border: 0;
        color: #22C55E;    }

}

.body{
    padding: 64px 0 64px;
    .col-4{
        padding: 11px;
    }
    .kart{
        margin-bottom: 32px;
        h1{
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            margin: 24px 0 16px;
        }
        p{
            margin: 0;
            line-height: 28px;
            font-size: 18px;
            color:  #8896AB;
            margin-bottom: 16px;
        }
        h2{
            font-size: 18px;
            font-weight: 700;
            margin: 0;
        }
        span{
            color: #556987;
            font-size: 18px;
            font-weight: 400;
        }
        .col-7{
            padding: 0;
            padding-top: 8px;
        }
    }

    input{
        padding: 11px 5px 11px 46px;
        border: 1px solid #D5DAE1;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        width: 100%;
        outline: 0;
        font-size: 16px;
        
    }
    .search{position: relative;}
    .search::after{
        position: absolute;
        left: 14px;
        top: 15px;
        content: url(/Vector.svg);
        
    }
    ul{
        list-style-type: none;
        margin: 22px 0 0 0;
        padding: 0;
        li{
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
            color: #556987;
            padding: 11px 16px;

        }
        li:hover{
            
            line-height: 30px;
            color: #22C55E;
            font-weight: 700;
            background: #BBF7D0;
            border-radius: 6px;
        }
    }

    .button{
        background: #22C55E;
        box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
        border-radius: 6px;
        padding: 10px 16px;
        color: #fff;
        border: 0;
        font-weight: 500;
        font-size: 14px;
        img{
            margin-left: 10px;
        }
    }

}
