.button-1 {
  background-color: #37a837 !important;
  border: 0;
  padding: 10px 60px;
  font-size: 20px;
  color: #fff;
  font-weight: 600 !important;
}

.iks {
  position: absolute;
  top: -275px;
  right: -99px;
  opacity: .9;
}

.dialog-m {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}

.nekst {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

.nekst:active {
  background-color: #22C55E;
}

.c-body {
  padding: 36px 36px 46px 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-body button {
  font-weight: 700 !important;
}

.c-body .size {
  width: 282px;
  margin-left: 50px;
}

.c-body .size ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.c-body .size ul li {
  font-weight: 500;
  font-size: 16.2624px;
  line-height: 36px;
}

.c-body .size .ul-1 {
  color: #556987;
}

.c-body .size .ul-2 {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.c-body .size .ul-2 li {
  float: inline-end;
}

.c-body .milk {
  width: 335px;
  border-right: 1px solid #e8e8e8;
  padding-right: 6px;
}

.c-body .milk h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.c-body .milk p {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #556987;
  margin: 9px 0 19px;
}

.c-body .milk button {
  font-size: 19px;
  color: #22C55E;
  background: transparent;
  border: 0;
}

.c-body .milk button img {
  margin-left: 11px;
}

.grean {
  background-color: #22C55E;
  color: #fff;
  font-size: 16px;
  padding: 10px 82px;
  margin-top: 50px;
}

.grean img {
  margin-left: 10px;
}

.lh li {
  line-height: 28px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  border-bottom: 1px solid #e3e3e3;
  width: 269px;
}

.akardions {
  padding: 90px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 100px;
  background-image: url(/assets/images/Frame%2016.png);
}

.akardion-1 {
  width: 456px;
  margin-top: 55px;
}

.akardion-1 h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

.akardion-1 p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #556987;
}

.akardion-1 .Btn {
  color: #22c55e;
  font-weight: 500;
  background: #DCFCE7;
  font-size: 12px;
  border-radius: 12px;
  padding: 2px 8px;
  border: 0;
}

.akardion-2 {
  width: 55%;
  margin: 10px 0 0 66px;
}

.akardion-2 p {
  color: #556987 !important;
}

.akardion-2 button {
  font-weight: 700;
  font-size: 18px;
}

.b-0 {
  border: 0 !important;
  margin: 20px 0;
}

.accordion-button::after {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(/assets/images/Vector.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(/assets/images/Vector.svg);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.accordion-button:focus {
  z-index: 3;
  outline: 0;
  -webkit-box-shadow: inset 0 -1px 0 white;
          box-shadow: inset 0 -1px 0 white;
}

#carouselExampleIndicators .nekst {
  opacity: unset !important;
}

#carouselExampleIndicators .nekst.active {
  background-color: #2bff00;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 -1px 0 white;
          box-shadow: inset 0 -1px 0 white;
}

.akardion-2 button {
  background-image: url(/assets/images/Frame%2016.png);
}

.akardion-2 .collapse {
  background-image: url(/assets/images/Frame%2016.png);
}
/*# sourceMappingURL=log-in.css.map */