body {
  font-family: 'Poppins' !important;
  margin: 0;
  padding: 0;
  font-weight: 500 !important;
}

body button {
  cursor: pointer;
}

header {
  padding: 90px 150px;
  background-image: url(/fon.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid  #22C55E;
}

header h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.02em;
}

header p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

header button {
  background: #DCFCE7;
  -webkit-box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
          box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
  border-radius: 36px;
  padding: 2px 8px;
  border: 0;
  color: #22C55E;
}

.body {
  padding: 64px 0 64px;
}

.body .col-4 {
  padding: 11px;
}

.body .kart {
  margin-bottom: 32px;
}

.body .kart h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 24px 0 16px;
}

.body .kart p {
  margin: 0;
  line-height: 28px;
  font-size: 18px;
  color: #8896AB;
  margin-bottom: 16px;
}

.body .kart h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.body .kart span {
  color: #556987;
  font-size: 18px;
  font-weight: 400;
}

.body .kart .col-7 {
  padding: 0;
  padding-top: 8px;
}

.body input {
  padding: 11px 5px 11px 46px;
  border: 1px solid #D5DAE1;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  width: 100%;
  outline: 0;
  font-size: 16px;
}

.body .search {
  position: relative;
}

.body .search::after {
  position: absolute;
  left: 14px;
  top: 15px;
  content: url(/Vector.svg);
}

.body ul {
  list-style-type: none;
  margin: 22px 0 0 0;
  padding: 0;
}

.body ul li {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #556987;
  padding: 11px 16px;
}

.body ul li:hover {
  line-height: 30px;
  color: #22C55E;
  font-weight: 700;
  background: #BBF7D0;
  border-radius: 6px;
}

.body .button {
  background: #22C55E;
  -webkit-box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
          box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
  border-radius: 6px;
  padding: 10px 16px;
  color: #fff;
  border: 0;
  font-weight: 500;
  font-size: 14px;
}

.body .button img {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */